{% extends "base.html" %}

{% block content %}
<div class = "cdr-body">
    <script type="text/javascript">
    function toggleMe(a){
    var e=document.getElementById(a);
    if(!e)return true;
    if(e.style.display=="block"){
    e.style.display="none"
    }
    else{
    e.style.display="block"
    }
    return true;
    }
    </script>
    <script language="JavaScript">
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
    </script>
    <div class = 'form-container'>
    <form action="results" method="post">
        <h3>Search Records using Parameters below:</h3>
        <div class = 'text-field-container'>
             <div class = 'number-search'>
                <div class = 'calling-number'>
                    <p>
                        Calling number:<br>
                        <input type="text" placeholder = "ex. 5555" name="callingPartyNumber">
                    </p>
                </div>
                <div class = 'called-number'>
                    <p>
                        Called number:<br>
                        <input type="text" placeholder = "ex. 5555" name="originalCalledPartyNumber">
                    </p>
                </div>
            </div>
            <div class = 'date-search'>
                <div class = 'from-date'>
                    <p>
                        Beginning Date:<br>
                        <input type="text" placeholder = "yyyy-mm-dd" name="dateTimeOrigination">
                    </p>
                </div>
                <div class = 'to-date'>
                    <p>
                        End Date:<br>
                        <input type="text" placeholder = "yyyy-mm-dd" name="edateTimeOrigination">
                    </p>
                </div>
            </div>
        </div>
        <div class="hid-boolean-form-container" id = "advanced-forms">
            <div class="vis-boolean-form-container">
                <div class="forms-simple-header">
                   <h3>Check items to add to Results view:</h3>
                </div>
                <div class="check-container">
                    <div class="boolean-forms-simple">
                            <h3>Advanced Call Metrics</h3>
                            {% for checkbox in advancedCallInfo %}
                            <p><input type="checkbox" name="disp_{{ checkbox }}" value="{{ checkbox }}">{{ checkbox }}<br></p>
                            {% endfor %}
                    </div>
                    <div class = 'boolean-forms-advanced'>
                        <div class="forms-adv-header">
                           <h3>Protocol Metrics:</h3>
                        </div>
                        <div class="adv-1">
                            {% for checkbox in protocolInfo %}
                            <p><input type="checkbox" name="disp_{{ checkbox }}" value="{{ checkbox }}">{{ checkbox }}<br></p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="check-all">
                    <p><input type="checkbox" onclick="toggle(this);" />Check all?<br /></p>
                </div>

            </div>
        </div>
        <div class = 'Advanced-para'>
            <p>Click "OPEN" for Advanced parameters</p>
            <input type="button" onclick="return toggleMe('advanced-forms')" value="OPEN"><br>
        </div>
        <div class = 'submit-form'>
            <p>Click "SUBMIT" for results</p>
            <p><input type="submit" value="SUBMIT"></p>
        </div>
    </form>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}


