/*Global CSS for each Template*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    overflow: hidden;
    white-space: nowrap;
}

h3 {
    font-style: italic;
}

h4 {
    font-style: italic;
}


/*base.html*/
.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Header-logos {
    display: flex;
    height: 100px;
    width: 100px;
}

.Link-Wording-Container {
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
}

.Header-Wording {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.Links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.flash-message {
    color: Red;
}


/*index.html*/
.Index-Body {
    min-height: 1080px;
    background-color: #aab1c9DA;
}

/*cdr.html*/


/*cdr.html*/
.cdr-body {
    min-height: 1080px;
    background-color: #aab1c9DA;
}

.form-container {
    margin-left: 5px;
}

.text-field-container {
}

.number-search {
    display: flex;
}

.calling-number {
    margin-right: 5px;
}

.called-number {
}

.date-search {
    display: flex;
}

.from-date {
    margin-right: 5px;
}

.to-date {
}

.boolean-form-container {
    display: flex;
    flex direction: row;
}

.boolean-forms-simple {
    margin-right: 40px;
}

.forms-simple-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.check-all {
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}

.boolean-forms-advanced {
    margin-top: 20px;
    display: none;
}

.forms-adv-header {
    margin-bottom: 20px;
}

.form-formatted {
    display: flex;
    flex-direction: row;
}

.Advanced-para {
    margin-top: 5px;
}

.adv-1, .adv-2, .adv-3, .adv-4, .adv-5 {
    margin-left: 7px
}

.submit-form {
    margin-top: 5px;
}


/*Results.html*/
.results-body {
    min-height: 1080px;
    background-color: #aab1c9DA;
}

.additional-requests {
    display: flex;
    border-style: solid;
    border-color: #000;
    width: 99%;
    height: 150px;
    margin: 5px 5px 5px 5px;
    justify-content: space-around;
    align-items: center;
}

.add-req-1, .add-req-2, .add-req-3 {
    display: flex;
    border-color: #000;
    border-style: solid;
    width: 250px;
    height: 75%;
}

.Main-Result {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 100%;
    overflow-x: auto;
}

.Dict-Holder {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.Pair-Holder {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
}

.Key {
    display: flex;
    width: 250px;
    height: 100%;
    border-bottom: 1px solid #fff;
}

.Value {
    display: flex;
    width: 250px;
    height: 100%;
}


/*footer.html*/