<!DOCTYPE html>
<html lang='en'>
  <head>
      <meta charset='UTF-8'/>
      <title>{{ title }}</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}" >
  </head>
  <body>
    <div class = 'Header'>
        <div class = 'Header-logos'>
            <img src="{{url_for('static', filename='images/company-logo.gif')}}" />
            <img src="{{url_for('static', filename='images/cisco-logo.gif')}}" />
        </div>
        <div class = 'Link-Wording-Container'>
            <div class = 'Header-Wording'>
                <h1>(YOUR AFFILIATION) Unified Administrator</h1>
                <h5>Powered by Cisco UC</h5>
            </div>
            <div class = 'Links'>
                <a href="/index">Home Page</a>
                <a href="/login">Account Login</a>
                <a href="/cdr">Certify_CDR Reports</a>
            </div>
        </div>
    </div>
    <hr>
    <div class = 'Body'>
        <div class="flash-container" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash-message">
                  <h2>{{message}}</h2>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
    {% block content %}{% endblock %}
  </body>
</html>