{% extends "base.html" %}

{% block content %}
<div class = "cdr-body">
    <div class = 'form-container'>
    <form action="results" method="post">
        <div class = 'text-field-container'>
        <h3>Search Records using Parameters below:</h3>
             <div class = 'number-search'>
                <div class = 'called-number'>
                        <p>
                            Called number:<br>
                            <input type="text" class="form-control" placeholder = "#" name="called" value="{{request.form.called}}">
                        </p>
                </div>
                <div class = 'calling-number'>
                        <p>
                            Calling number:<br>
                            <input type="text" class="form-control" placeholder = "#" name="calling" value="{{request.form.calling}}">
                        </p>
                </div>
            </div>
            <div class = 'date-search'>
                <div class = 'from-date'>

                    <p>
                        Beginning Date:<br>
                        <input type="text" class="form-control" placeholder = "yyyy/mm/dd" name="fromdate" value="{{request.form.fromdate}}">

                    </p>
                </div>
                <div class = 'to-date'>

                    <p>
                        End Date:<br>
                        <input type="text" class="form-control" placeholder = "yyyy/mm/dd" name="todate" value="{{request.form.todate}}">

                    </p>
                </div>
            </div>
        </div>
        <div class ='boolean-form-container'>
            <div class = 'boolean-forms'>
                <h3>Show Returned Values:</h3>

            </div>
        </div>
            <div class = 'submit-form'>
                <p><input type="submit" value="submit"></p>
            </div>
    </form>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}


