* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flash-message {
    color: Red;
}

.additional-requests {
    display: flex;
    border-style: solid;
    border-color: #000;
    width: 99%;
    height: 150px;
    margin: 5px 5px 5px 5px;
    justify-content: space-around;
    align-items: center;

}

.add-req-1, .add-req-2, .add-req-3 {
    display: flex;
    border-color: #000;
    border-style: solid;
    width: 250px;
    height: 75%;

}

.cdr-body {
    min-height: 1080px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #aab1c9DA;
    flex-direction: column;
}

.text-field-container {
    display: flex;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 1525px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

.number-search {
    display: flex;
}

.date-search {
    display: flex;
}

.called-number {
    margin-right: 20px;
}

.from-date {
    margin-right: 20px;
}

.boolean-forms {
    display: flex;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 1525px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

.submit-form{
    display: flex;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 1525px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

.Index-Body {
    min-height: 1080px;
    background-color: #aab1c9DA;
}

p {
    overflow: hidden;
    white-space: nowrap;
}

h3 {
    font-style: italic;
}


.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Header-logos {
    display: flex;
    height: 100px;
    width: 100px;
}

.Link-Wording-Container {
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
}

.Header-Wording {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.Links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.Body {

}

.Main-Result {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 100%;
    overflow-x: auto;
}

.Dict-Holder {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.Pair-Holder {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
}

.Key {
    display: flex;
    width: 250px;
    height: 100%;
    border-bottom: 1px solid #fff;
}

.Value {
    display: flex;
    width: 250px;
    height: 100%;
}