{% extends "base.html" %}

{% block content %}
<div class = "cdr-body">
    <script type="text/javascript">
    function toggleMe(a){
    var e=document.getElementById(a);
    if(!e)return true;
    if(e.style.display=="block"){
    e.style.display="none"
    }
    else{
    e.style.display="block"
    }
    return true;
    }
    </script>
    <script language="JavaScript">
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
    </script>
    <div class = 'form-container'>
    <form action="results" method="post">
        <h3>Search Records using Parameters below:</h3>
        <div class = 'text-field-container'>
             <div class = 'number-search'>
                <div class = 'calling-number'>
                    <p>
                        Calling number:<br>
                        <input type="text" placeholder = "ex. 6399" name="callingPartyNumber">
                    </p>
                </div>
                <div class = 'called-number'>
                    <p>
                        Called number:<br>
                        <input type="text" placeholder = "or 15553330000" name="originalCalledPartyNumber">
                    </p>
                </div>
            </div>
            <div class = 'date-search'>
                <div class = 'from-date'>
                    <p>
                        Beginning Date:<br>
                        <input type="text" placeholder = "yyyy/mm/dd" name="dateTimeOrigination">
                    </p>
                </div>
                <div class = 'to-date'>
                    <p>
                        End Date:<br>
                        <input type="text" placeholder = "yyyy/mm/dd" name="edateTimeOrigination">
                    </p>
                </div>
            </div>
        </div>
        <div class="boolean-form-container">
            <div class="boolean-forms-simple">
                <div class="forms-simple-header">
                   <h3>Check Items to remove from results:</h3>
                </div>
                    <p><input type="checkbox" name="disp_globalCallID_callManagerId" value="globalCallID_callManagerId">globalCallID_callManagerId<br></p>
                    <p><input type="checkbox" name="disp_globalCallID_callId" value="globalCallID_callId">globalCallID_callId<br></p>
                    <p><input type="checkbox" name="disp_dateTimeOrigination" value="dateTimeOrigination">dateTimeOrigination<br></p>
                    <p><input type="checkbox" name="disp_origNodeId" value="origNodeId">origNodeId<br></p>
                    <p><input type="checkbox" name="disp_origIpAddr" value="origIpAddr">origIpAddr<br></p>
                    <p><input type="checkbox" name="disp_callingPartyNumber" value="callingPartyNumber">callingPartyNumber<br></p>
                    <p><input type="checkbox" name="disp_callingPartyUnicodeLoginUserID" value="callingPartyUnicodeLoginUserID">callingPartyUnicodeLoginUserID<br></p>
                    <p><input type="checkbox" name="disp_origCause_location" value="origCause_location">origCause_location<br></p>
                    <p><input type="checkbox" name="disp_origCause_value" value="origCause_value">origCause_value<br></p>
                    <p><input type="checkbox" name="disp_destNodeId" value="destNodeId">destNodeId<br></p>
                    <p><input type="checkbox" name="disp_destIpAddr" value="destIpAddr">destIpAddr<br></p>
                    <p><input type="checkbox" name="disp_originalCalledPartyNumber" value="originalCalledPartyNumber">originalCalledPartyNumber<br></p>
                    <p><input type="checkbox" name="disp_finalCalledPartyNumber" value="finalCalledPartyNumber">finalCalledPartyNumber<br></p>
                    <p><input type="checkbox" name="disp_finalCalledPartyUnicodeLoginUserID" value="finalCalledPartyUnicodeLoginUserID">finalCalledPartyUnicodeLoginUserID<br></p>
                    <p><input type="checkbox" name="disp_destCause_location" value="destCause_location">destCause_location<br></p>
                    <p><input type="checkbox" name="disp_destCause_value" value="destCause_value">destCause_value<br></p>
                    <p><input type="checkbox" name="disp_dateTimeConnect" value="dateTimeConnect">dateTimeConnect<br></p>
                    <p><input type="checkbox" name="disp_dateTimeDisconnect" value="dateTimeDisconnect">dateTimeDisconnect<br></p>
                    <p><input type="checkbox" name="disp_lastRedirectDn" value="lastRedirectDn">lastRedirectDn<br></p>
                    <p><input type="checkbox" name="disp_originalCalledPartyNumberPartition" value="originalCalledPartyNumberPartition">originalCalledPartyNumberPartition<br></p>
                    <p><input type="checkbox" name="disp_callingPartyNumberPartition" value="callingPartyNumberPartition">callingPartyNumberPartition<br></p>
                    <p><input type="checkbox" name="disp_finalCalledPartyNumberPartition" value="finalCalledPartyNumberPartition">finalCalledPartyNumberPartition<br></p>
                    <p><input type="checkbox" name="disp_duration" value="duration">duration<br></p>
                    <p><input type="checkbox" name="disp_origDeviceName" value="origDeviceName">origDeviceName<br></p>
                    <p><input type="checkbox" name="disp_destDeviceName" value="destDeviceName">destDeviceName<br></p>
                    <p><input type="checkbox" name="disp_origIpv4v6Addr" value="origIpv4v6Addr">origIpv4v6Addr<br></p>
                    <p><input type="checkbox" name="disp_destIpv4v6Addr" value="destIpv4v6Addr">destIpv4v6Addr<br></p>
                <div class="check-all">
                    <p><input type="checkbox" onclick="toggle(this);" />Check all?<br /></p>
                </div>
            </div>
            <div class = 'boolean-forms-advanced' id = "advanced-forms">
                <div class="forms-adv-header">
                   <h3>Advanced Parameters:</h3>
                </div>
                <div class="form-formatted">
                    <div class="adv-1">
                        <p><input type="checkbox" name="disp_cdrRecordType" value="cdrRecordType" checked>cdrRecordType<br></p>
                        <p><input type="checkbox" name="disp_origLegCallIdentifier" value="origLegCallIdentifier" checked>origLegCallIdentifier<br></p>
                        <p><input type="checkbox" name="disp_origSpan" value="origSpan" checked>origSpan<br></p>
                        <p><input type="checkbox" name="disp_origPrecedenceLevel" value="origPrecedenceLevel" checked>origPrecedenceLevel<br></p>
                        <p><input type="checkbox" name="disp_origMediaTransportAddress_IP" value="origMediaTransportAddress_IP" checked>origMediaTransportAddress_IP<br></p>
                        <p><input type="checkbox" name="disp_origMediaTransportAddress_Port" value="origMediaTransportAddress_Port" checked>origMediaTransportAddress_Port<br></p>
                        <p><input type="checkbox" name="disp_origMediaCap_payloadCapability" value="origMediaCap_payloadCapability" checked>origMediaCap_payloadCapability<br></p>
                        <p><input type="checkbox" name="disp_origMediaCap_maxFramesPerPacket" value="origMediaCap_maxFramesPerPacket" checked>origMediaCap_maxFramesPerPacket<br></p>
                        <p><input type="checkbox" name="disp_origMediaCap_g723BitRate" value="origMediaCap_g723BitRate" checked>origMediaCap_g723BitRate<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Codec" value="origVideoCap_Codec" checked>origVideoCap_Codec<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Bandwidth" value="origVideoCap_Bandwidth" checked>origVideoCap_Bandwidth<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Resolution" value="origVideoCap_Resolution" checked>origVideoCap_Resolution<br></p>
                        <p><input type="checkbox" name="disp_origVideoTransportAddress_IP" value="origVideoTransportAddress_IP" checked>origVideoTransportAddress_IP<br></p>
                        <p><input type="checkbox" name="disp_origVideoTransportAddress_Port" value="origVideoTransportAddress_Port" checked>origVideoTransportAddress_Port<br></p>
                        <p><input type="checkbox" name="disp_origRSVPAudioStat" value="origRSVPAudioStat" checked>origRSVPAudioStat<br></p>
                        <p><input type="checkbox" name="disp_origRSVPVideoStat" value="origRSVPVideoStat" checked>origRSVPVideoStat<br></p>
                        <p><input type="checkbox" name="disp_destLegIdentifier" value="destLegIdentifier" checked>destLegIdentifier<br></p>
                        <p><input type="checkbox" name="disp_destSpan" value="destSpan" checked>destSpan<br></p>
                        <p><input type="checkbox" name="disp_destPrecedenceLevel" value="destPrecedenceLevel" checked>destPrecedenceLevel<br></p>
                        <p><input type="checkbox" name="disp_destMediaTransportAddress_IP" value="destMediaTransportAddress_IP" checked>destMediaTransportAddress_IP<br></p>
                        <p><input type="checkbox" name="disp_huntPilotPattern" value="huntPilotPattern" checked>huntPilotPattern<br></p>
                    </div>
                    <div class="adv-2">
                        <p><input type="checkbox" name="disp_destMediaTransportAddress_Port" value="destMediaTransportAddress_Port" checked>destMediaTransportAddress_Port<br></p>
                        <p><input type="checkbox" name="disp_destMediaCap_payloadCapability" value="destMediaCap_payloadCapability" checked>destMediaCap_payloadCapability<br></p>
                        <p><input type="checkbox" name="disp_destMediaCap_maxFramesPerPacket" value="destMediaCap_maxFramesPerPacket" checked>destMediaCap_maxFramesPerPacket<br></p>
                        <p><input type="checkbox" name="disp_destMediaCap_g723BitRate" value="destMediaCap_g723BitRate" checked>destMediaCap_g723BitRate<br></p>
                        <p><input type="checkbox" name="disp_destVideoCap_Codec" value="destVideoCap_Codec" checked>destVideoCap_Codec<br></p>
                        <p><input type="checkbox" name="disp_destVideoCap_Bandwidth" value="destVideoCap_Bandwidth" checked>destVideoCap_Bandwidth<br></p>
                        <p><input type="checkbox" name="disp_destVideoCap_Resolution" value="destVideoCap_Resolution" checked>destVideoCap_Resolution<br></p>
                        <p><input type="checkbox" name="disp_destVideoTransportAddress_IP" value="destVideoTransportAddress_IP" checked>destVideoTransportAddress_IP<br></p>
                        <p><input type="checkbox" name="disp_destVideoTransportAddress_Port" value="destVideoTransportAddress_Port" checked>destVideoTransportAddress_Port<br></p>
                        <p><input type="checkbox" name="disp_destRSVPAudioStat" value="destRSVPAudioStat" checked>destRSVPAudioStat<br></p>
                        <p><input type="checkbox" name="disp_destRSVPVideoStat" value="destRSVPVideoStat" checked>destRSVPVideoStat<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectDnPartition" value="lastRedirectDnPartition" checked>lastRedirectDnPartition<br></p>
                        <p><input type="checkbox" name="disp_origCallTerminationOnBehalfOf" value="origCallTerminationOnBehalfOf" checked>origCallTerminationOnBehalfOf<br></p>
                        <p><input type="checkbox" name="disp_destCallTerminationOnBehalfOf" value="destCallTerminationOnBehalfOf" checked>destCallTerminationOnBehalfOf<br></p>
                        <p><input type="checkbox" name="disp_origCalledPartyRedirectOnBehalfOf" value="origCalledPartyRedirectOnBehalfOf" checked>origCalledPartyRedirectOnBehalfOf<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectRedirectOnBehalfOf" value="lastRedirectRedirectOnBehalfOf" checked>lastRedirectRedirectOnBehalfOf<br></p>
                        <p><input type="checkbox" name="disp_origCalledPartyRedirectReason" value="origCalledPartyRedirectReason" checked>origCalledPartyRedirectReason<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectRedirectReason" value="lastRedirectRedirectReason" checked>lastRedirectRedirectReason<br></p>
                        <p><input type="checkbox" name="disp_destConversationId" value="destConversationId" checked>destConversationId<br></p>
                        <p><input type="checkbox" name="disp_globalCallId_ClusterID" value="globalCallId_ClusterID" checked>globalCallId_ClusterID<br></p>
                        <p><input type="checkbox" name="disp_pkid" value="pkid" checked>pkid<br></p>
                    </div>
                    <div class="adv-3">
                        <p><input type="checkbox" name="disp_joinOnBehalfOf" value="joinOnBehalfOf" checked>joinOnBehalfOf<br></p>
                        <p><input type="checkbox" name="disp_comment" value="comment" checked>comment<br></p>
                        <p><input type="checkbox" name="disp_authCodeDescription" value="authCodeDescription" checked>authCodeDescription<br></p>
                        <p><input type="checkbox" name="disp_authorizationLevel" value="authorizationLevel" checked>authorizationLevel<br></p>
                        <p><input type="checkbox" name="disp_clientMatterCode" value="clientMatterCode" checked>clientMatterCode<br></p>
                        <p><input type="checkbox" name="disp_origDTMFMethod" value="origDTMFMethod" checked>origDTMFMethod<br></p>
                        <p><input type="checkbox" name="disp_destDTMFMethod" value="destDTMFMethod" checked>destDTMFMethod<br></p>
                        <p><input type="checkbox" name="disp_callSecuredStatus" value="callSecuredStatus" checked>callSecuredStatus<br></p>
                        <p><input type="checkbox" name="disp_origConversationId" value="origConversationId" checked>origConversationId<br></p>
                        <p><input type="checkbox" name="disp_origMediaCap_Bandwidth" value="origMediaCap_Bandwidth" checked>origMediaCap_Bandwidth<br></p>
                        <p><input type="checkbox" name="disp_destMediaCap_Bandwidth" value="destMediaCap_Bandwidth" checked>destMediaCap_Bandwidth<br></p>
                        <p><input type="checkbox" name="disp_authorizationCodeValue" value="authorizationCodeValue" checked>authorizationCodeValue<br></p>
                        <p><input type="checkbox" name="disp_outpulsedCallingPartyNumber" value="outpulsedCallingPartyNumber" checked>outpulsedCallingPartyNumber<br></p>
                        <p><input type="checkbox" name="disp_outpulsedCalledPartyNumber" value="outpulsedCalledPartyNumber" checked>outpulsedCalledPartyNumber<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Codec_Channel2" value="origVideoCap_Codec_Channel2" checked>origVideoCap_Codec_Channel2<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Bandwidth_Channel2" value="origVideoCap_Bandwidth_Channel2" checked>origVideoCap_Bandwidth_Channel2<br></p>
                        <p><input type="checkbox" name="disp_origVideoCap_Resolution_Channel2" value="origVideoCap_Resolution_Channel2" checked>origVideoCap_Resolution_Channel2<br></p>
                        <p><input type="checkbox" name="disp_origVideoTransportAddress_IP_Channel2" value="origVideoTransportAddress_IP_Channel2" checked>origVideoTransportAddress_IP_Channel2<br></p>
                        <p><input type="checkbox" name="disp_origVideoTransportAddress_Port_Channel2" value="origVideoTransportAddress_Port_Channel2" checked>origVideoTransportAddress_Port_Channel2<br></p>
                        <p><input type="checkbox" name="disp_origVideoChannel_Role_Channel2" value="origVideoChannel_Role_Channel2" checked>origVideoChannel_Role_Channel2<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectingPartyPattern" value="lastRedirectingPartyPattern" checked>lastRedirectingPartyPattern<br></p>
                    </div>
                    <div class="adv-4">
                        <p><input type="checkbox" name="disp_destVideoCap_Codec_Channel2" value="destVideoCap_Codec_Channel2" checked>destVideoCap_Codec_Channel2<br></p>
                        <p><input type="checkbox" name="disp_destVideoCap_Bandwidth_Channel2" value="destVideoCap_Bandwidth_Channel2" checked>destVideoCap_Bandwidth_Channel2<br></p>
                        <p><input type="checkbox" name="disp_destVideoCap_Resolution_Channel2" value="destVideoCap_Resolution_Channel2" checked>destVideoCap_Resolution_Channel2<br></p>
                        <p><input type="checkbox" name="disp_destVideoTransportAddress_IP_Channel2" value="destVideoTransportAddress_IP_Channel2" checked>destVideoTransportAddress_IP_Channel2<br></p>
                        <p><input type="checkbox" name="disp_destVideoTransportAddress_Port_Channel2" value="destVideoTransportAddress_Port_Channel2" checked>destVideoTransportAddress_Port_Channel2<br></p>
                        <p><input type="checkbox" name="disp_destVideoChannel_Role_Channel2" value="destVideoChannel_Role_Channel2" checked>destVideoChannel_Role_Channel2<br></p>
                        <p><input type="checkbox" name="disp_IncomingProtocolID" value="IncomingProtocolID" checked>IncomingProtocolID<br></p>
                        <p><input type="checkbox" name="disp_IncomingProtocolCallRef" value="IncomingProtocolCallRef" checked>IncomingProtocolCallRef<br></p>
                        <p><input type="checkbox" name="disp_OutgoingProtocolID" value="OutgoingProtocolID" checked>OutgoingProtocolID<br></p>
                        <p><input type="checkbox" name="disp_OutgoingProtocolCallRef" value="OutgoingProtocolCallRef" checked>OutgoingProtocolCallRef<br></p>
                        <p><input type="checkbox" name="disp_currentRoutingReason" value="currentRoutingReason" checked>currentRoutingReason<br></p>
                        <p><input type="checkbox" name="disp_origRoutingReason" value="origRoutingReason" checked>origRoutingReason<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectingRoutingReason" value="lastRedirectingRoutingReason" checked>lastRedirectingRoutingReason<br></p>
                        <p><input type="checkbox" name="disp_huntPilotPartition" value="huntPilotPartition" checked>huntPilotPartition<br></p>
                        <p><input type="checkbox" name="disp_huntPilotDN" value="huntPilotDN" checked>huntPilotDN<br></p>
                        <p><input type="checkbox" name="disp_calledPartyPatternUsage" value="calledPartyPatternUsage" checked>calledPartyPatternUsage<br></p>
                        <p><input type="checkbox" name="disp_IncomingICID" value="IncomingICID" checked>IncomingICID<br></p>
                        <p><input type="checkbox" name="disp_IncomingOrigIOI" value="IncomingOrigIOI" checked>IncomingOrigIOI<br></p>
                        <p><input type="checkbox" name="disp_IncomingTermIOI" value="IncomingTermIOI" checked>IncomingTermIOI<br></p>
                        <p><input type="checkbox" name="disp_OutgoingICID" value="OutgoingICID" checked>OutgoingICID<br></p>
                        <p><input type="checkbox" name="disp_finalCalledPartyPattern" value="finalCalledPartyPattern" checked>finalCalledPartyPattern<br></p>
                    </div>
                    <div class="adv-5">
                        <p><input type="checkbox" name="disp_OutgoingOrigIOI" value="OutgoingOrigIOI" checked>OutgoingOrigIOI<br></p>
                        <p><input type="checkbox" name="disp_OutgoingTermIOI" value="OutgoingTermIOI" checked>OutgoingTermIOI<br></p>
                        <p><input type="checkbox" name="disp_outpulsedOriginalCalledPartyNumber" value="outpulsedOriginalCalledPartyNumber" checked>outpulsedOriginalCalledPartyNumber<br></p>
                        <p><input type="checkbox" name="disp_outpulsedLastRedirectingNumber" value="outpulsedLastRedirectingNumber" checked>outpulsedLastRedirectingNumber<br></p>
                        <p><input type="checkbox" name="disp_wasCallQueued" value="wasCallQueued" checked>wasCallQueued<br></p>
                        <p><input type="checkbox" name="disp_totalWaitTimeInQueue" value="totalWaitTimeInQueue" checked>totalWaitTimeInQueue<br></p>
                        <p><input type="checkbox" name="disp_callingPartyNumber_uri" value="callingPartyNumber_uri" checked>callingPartyNumber_uri<br></p>
                        <p><input type="checkbox" name="disp_originalCalledPartyNumber_uri" value="originalCalledPartyNumber_uri" checked>originalCalledPartyNumber_uri<br></p>
                        <p><input type="checkbox" name="disp_finalCalledPartyNumber_uri" value="finalCalledPartyNumber_uri" checked>finalCalledPartyNumber_uri<br></p>
                        <p><input type="checkbox" name="disp_lastRedirectDn_uri" value="lastRedirectDn_uri" checked>lastRedirectDn_uri<br></p>
                        <p><input type="checkbox" name="disp_mobileCallingPartyNumber" value="mobileCallingPartyNumber" checked>mobileCallingPartyNumber<br></p>
                        <p><input type="checkbox" name="disp_finalMobileCalledPartyNumber" value="finalMobileCalledPartyNumber" checked>finalMobileCalledPartyNumber<br></p>
                        <p><input type="checkbox" name="disp_origMobileDeviceName" value="origMobileDeviceName" checked>origMobileDeviceName<br></p>
                        <p><input type="checkbox" name="disp_destMobileDeviceName" value="destMobileDeviceName" checked>destMobileDeviceName<br></p>
                        <p><input type="checkbox" name="disp_origMobileCallDuration" value="origMobileCallDuration" checked>origMobileCallDuration<br></p>
                        <p><input type="checkbox" name="disp_destMobileCallDuration" value="destMobileCallDuration" checked>destMobileCallDuration<br></p>
                        <p><input type="checkbox" name="disp_mobileCallType" value="mobileCallType" checked>mobileCallType<br></p>
                        <p><input type="checkbox" name="disp_originalCalledPartyPattern" value="originalCalledPartyPattern" checked>originalCalledPartyPattern<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'Advanced-para'>
            <p>Click "OPEN" for Advanced parameters</p>
            <input type="button" onclick="return toggleMe('advanced-forms')" value="OPEN"><br>
        </div>
        <div class = 'submit-form'>
            <p>Click "SUBMIT" for results</p>
            <p><input type="submit" value="SUBMIT"></p>
        </div>
    </form>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}


